<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iOS开发过程中的各种tips</key>
	<string>http://www.imooc.com/article/1442</string>
	<key>IntelliJ IDEA 简体中文专题教程</key>
	<string>http://toutiao.io/posts/6zwji</string>
	<key>理解Objective-C运行时</key>
	<string>http://hechen.info/2015/09/07/Understanding-the-Objective-C-Runtime/</string>
</dict>
</plist>
