<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OC消息</key>
	<string>OCMessageViewController</string>
	<key>运行时创建Class</key>
	<string>RuntimeCreateClassViewController</string>
	<key>KVC与KVO</key>
	<string>KVCKVOViewController</string>
	<key>block</key>
	<string>BlockViewController</string>
	<key>内存管理MRC</key>
	<string>MemoryManagerMRCViewController</string>
	<key>线程操作</key>
	<string>ThreadViewController</string>
	<key>webView测试</key>
	<string>WebViewTestViewController</string>
	<key>view frame bound 测试</key>
	<string>ViewsTestViewController</string>
	<key>autoLayout测试</key>
	<string>AutoLayoutTestViewController</string>
	<key>反射学习</key>
	<string>ReflectionViewController</string>
</dict>
</plist>
